.registerpage{
    background-color: rgb(146, 146, 150,0.4);
    height:max-content ;
    width: 30vw;
    text-align: center;
    align-content: center;
    margin-top: 5vh;
    padding: 20px 20px;

}
.registerpage input[type=text]{
    height: 5vh;
    width: 23vw;
}
.registerpage input[type=number]{
    height: 5vh;
    width: 23vw;
}
.registerpage input[type=email]{
    height: 5vh;
    width: 23vw;
}
.registerpage input[type=password]{
    height: 5vh;
    width: 23vw;
}
.registerpage input [type=radio]{
    height: 1vh;
}
.registerpage input:focus{
    border: none;
    outline: none;
}
.registerpage select{
    height: 5vh;
    width: 15vw;
}
.registerpage select:focus{
    outline: none;
}

.registerpage button{
    height: 5vh;
    width: 10vw;
    font-size: large;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}